# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\javaspace\JavaWeb\wwqShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
